Source: pyfoam
Section: python
Priority: extra
Maintainer: Bernhard F.W. Gschaider <bgschaid@ice-sf.at>
Build-Depends: debhelper (>= 7), dh-python, python-dev, python-epydoc, python-numpy, python-vtk, python-matplotlib, python-qt4, gnuplot-x11
Standards-Version: 3.9.5

Package: pyfoam
Architecture: all
Depends: python-numpy, mercurial, python-tk, gnuplot-x11, ${python:Depends}, ${misc:Depends}
Recommends: python-vtk, python-matplotlib, python-qt4, python-pandas, python-xlrd, python-xlwt, ipython, python-scipy
Description: Python library to control OpenFOAM
 This Python library is used to control the OpenSource-CFD
 toolbox OpenFOAM and provides some utilities
